
{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}"/>
    <title>Document</title>
</head>

<body>
    <div>
        <button type="button"  class="btn btn-primary"> <a style="color: lightcyan" href="{%  url 'cvprint' id=cv.pk %}">Download Now </a></button>
        <div class="intro">
            <div class="name">
                <h4>{{ cv.name }}</h4>
                <h5>Email:{{ cv.email }}</h5>
                <h5>Mob:{{ cv.phone }}</h5>
{#                <h5>LinkedIn:https//:xyzbjubju3gc3j</h5>#}
{#                <h5>Github:bhdvxy3c</h5>#}
            </div>
{#            <div class="image">#}
{#                <img src="" alt="img" width="50px" height="50px">#}
{#            </div>#}
        </div>
        <div class="about">
            <h3>About</h3>
            <p>{{ cv.about }}</p>
        </div>
        <div class="education">
            <h2>Education</h2>
            {% for e in edu%}
            <hr>
            <br>
            <h3>{{ e.degree }}</h3>
            <h4>{{e.college}}</h4>
            <h4>CGPA: {{e.score  }}</h4>
            <br>
            {% endfor %}
        </div>
        <div class="experience">
            <h2>Experience</h2>
            <hr>
            {% for e in exp %}
            <div>
                <p><b>Position:</b>{{ e.position }}</p>
                <p><b>Company:</b>{{ e.company }}</p>
                <p><b>Work:</b>{{ e.work }}</p>
                <p><b>Duration:</b>{{ e.duration }}</p>
            </div>
{% endfor %}
        </div>

        <div class="skills">
            <h2>Skills</h2>
            <hr>
            <p> {{ cv.skills }}</p>
{#            <ul style="display: inline-block; padding: 15px 20px 10px 15px;">#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#            </ul>#}
{#            <ul style="display: inline-block; padding: 15px 15px 10px 200px;">#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#            </ul>#}
        </div>
        <div class="interests">
            <h2>Interest</h2>
            <hr>
            {{ cv.interests }}
{#            <ol style="display: inline-block; padding: 15px 20px 10px 15px;">#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#            </ol>#}
{#            <ol style="display: inline-block; padding: 15px 15px 10px 200px;">#}
{#                <li>programming</li>#}
{#                <li>programming</li>#}
{#            </ol>#}
        </div>
    </div>
</body>

</html>